# Allow vold to relabel sdcard fs mounts
allow vold unlabeled:filesystem { relabelfrom };

allow vold kernel:process setsched;
allow vold sdcardd_exec:file { read open execute execute_no_trans };
